#beautiful {
    background-color: violet;
}

.pink {
   font-size: 50px;
}

#note{
    font-size: 30px;
    font-family: fantasy;
}

#great{
    background-color: aqua;
}

.odd{
    font-size: 70px;
    font-family:  Calibri;
    font-style: italic;
}